@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
html{
    font-family: Roboto, sans-serif;
    font-size: 13px;
}
a,
a:active,
a:hover{
    color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	max-width: 100%;
	height: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input[type]{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #edeef0;
}

.btn-res{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.container{
	width: 1170px;
    margin: 0 auto;
}

.header {
	background: #507299;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.header__top-logo {
	background: url(../img/ic_head_logo.svg) no-repeat 50% / contain;
    height: 19px;
    width: 34px;
}

.header__top-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 165px;
	height: 45px;
}



.header__nav {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__nav-search-input {
	width: 230px;
	height: 28px;
	padding: 0;
	border: 0;
    line-height: 16px;
    border-radius: 14px;
    -o-transition: background-color 0.05s, color 0.05s;
    -webkit-transition: background-color 0.05s, color 0.05s;
    transition: background-color 0.05s, color 0.05s;
    background: #305075 url(../img/ic_head_loupe.svg) no-repeat;
    padding-left: 19px;
    border-left: 8px solid transparent;
    background-position: left 8px;
    color: #d9e2ec;
}

.header__nav-search-input::-webkit-input-placeholder {color:#d9e2ec;}
.header__nav-search-input::-moz-placeholder          {color:#d9e2ec;}/* Firefox 19+ */
.header__nav-search-input:-moz-placeholder           {color:#d9e2ec;}/* Firefox 18- */
.header__nav-search-input:-ms-input-placeholder      {color:#d9e2ec;}

.header__nav-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}



.header__nav-notice{
	margin-left: 20px;
	width: 46px;
	padding: 11px 0;
	cursor: pointer;
}

.header__nav-notice:hover{
	background-color: #486991;
}

.header__nav-notice-icn {
	background: url(../img/ic_head_notify.svg) 50% / contain no-repeat;
	margin: 0 auto;
    height: 20px;
    width: 20px;
}



.header__nav-item:last-child {
	position: relative;
	margin-left: auto;
}

.header__nav-profile-link {
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	text-decoration: none;
}
.header__nav-profile-link:hover{
	background-color: #486991;
}
.header__nav-profile-link:active {
	background-color: #486991;
}
.header__nav-profile-link:active header__nav-profile-arrow{
	background-color: #486991;
	color: rgba(255,255,255,1);
}

.header__nav-profile-name {
	padding: 0 10px;
	font-weight: 700;
	color: #fff;
}

.header__nav-profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.header__nav-profile-arrow {
	border: 5px solid transparent;
	border-top-color: rgba(255,255,255,0.45);
    margin: 5px 8px 0;
}

.header__nav-menu {
    position: absolute;
    top: 100%;
    right: -12px;
	margin-top: 4px;
    width: 160px;
	background: #fff;
	padding: 4px 0;
    border: 1px solid #c5d0db;
	border-radius: 4px;
    -webkit-box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.25);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in, visibility 0.35s;
	transition: opacity 0.3s ease-in, visibility 0.35s;
	
}
.header__nav-profile-link:focus ~ .header__nav-menu{
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in, visibility 0.35s;
	transition: opacity 0.3s ease-in, visibility 0.35s;
}

.header__nav-menu-link {
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #2a5885;
	text-decoration: none;
}
.header__nav-menu-link:hover{
    background-color: #e4eaf0;
}

.header__nav-menu-sep {
	margin: 4px 13px;
    border-top: 1px solid #dbe4ec;
}



.page-layout {
	overflow: hidden;
}

.sidebar {
	position: fixed;
	width: 150px;
	top: 0;
    color: #285473;
}

.sidebar__nav-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

.sidebar__nav-icn {
	display: block;
    width: 35px;
    height: 25px;
    opacity: 0.75;
	background: url(../img/menu_icon.png) no-repeat 7px -441px;
}
.sidebar__nav-item.sidebar-profile .sidebar__nav-icn{
    background-position: 7px 6px;
}

.sidebar__nav-item.sidebar-news .sidebar__nav-icn{
    background-position: 7px -917px;
}
.sidebar__nav-item.sidebar-message .sidebar__nav-icn{
    background-position: 7px -21px;
}

.sidebar__inner {
	margin-top: 46px;
	padding: 15px 0;
}

.sidebar__nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
    padding: 2px 0;
}
.sidebar__nav-link:hover{
    background: #e1e5eb;
}
.sidebar__nav-link:hover .sidebar__nav-icn{
	opacity: 1;
}

.sidebar__nav-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 46px;
	padding-left: 155px;
	padding-top: 15px;
}

.dialog__header{
	border-bottom: 1px solid #e7e8ec;
}
.dialog__header-search{
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.dialog__header-search-input {
    border-left-width: 15px;
	border-color: transparent;
    padding: 15px 10px 15px 26px;
    height: 48px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	background: url(../img/ic_head_loupe.svg) no-repeat 0;
}
.dialog__header-search-input:focus{
	outline: none;
}

.dialog {
	background: #fff;
    width: 320px;
    -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.dialog__header-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.dialog__header-important {
    color: #929eb0;
    padding: 18px 6px 15px 19px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
    position: relative;
    z-index: 10;
    cursor: pointer;
	background: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"14"%20height%3D"15"%20viewBox%3D"0%200%2014%2015"><path%20fill%3D"%2391A8C4"%20d%3D"M6.2%201.3c.6-1.8.8-1.5%201.3%200%20.5%201.6%201.3%203.7%201.3%203.7h3.1s2.6-.2.8%201.2c-1.9%201.4-2.9%202.2-2.9%202.2s.5%202%201.1%203.9c.6%201.9%201%202.4-.8.9l-3.3-2.5s-.8.8-2.7%202.2-2.2%201.8-1.3-.7c.8-2.5%201-3.8%201-3.8s-1-.9-2.9-2.2-.6-1.2.8-1.2h3.1s.7-2%201.4-3.7z"%2F><%2Fsvg>') 0 no-repeat;
}

.dialog__header-sel {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
    width: 14px;
    height: 14px;
    padding: 18px 15px 16px 10px;
    color: #929eb0;
}

.dialog__header-sel-btn {
	width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%2391A8C4%22%20d%3D%22M8%206v-6h-2v6h-6v2h6v6h2v-6h6v-2h-6z%22%2F%3E%3C%2Fsvg%3E') top no-repeat;
    display: block;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border: none;
}


.dialog__body{
    max-height: 800px;
    overflow: hidden;
}
.custom-scroll_bar-y{
    background: #929eb0;
    border-radius: 3px;
	right: 3px;
    width: 6px;
}
.dialog__body-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

.dialog__body-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px 0;
    display: block;
    width: 100%;
    cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.dialog__photo {
    padding: 9px 7px 8px 0;
}

.dialog__photo-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.dialog__content{
    width: calc(100% - 53px);
    padding: 8px 0;
    position: relative;
}
.dialog__content-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 4px 0 6px;
}
.dialog__content-name {
	font-weight: 700;
    max-width: 60%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-right: 7px;
}

.dialog__content-time {
	position: absolute;
    top: 14px;
    right: 0;
    opacity: 0.7;
    color: #777e8c;
}

.dialog__content-who {
	color: #8b939b;
	padding-right: 4px;
}

.dialog__content-preview-text {
    color: #656565;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
	margin: 0;
}

.dialog__content-last-msg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 75%;
}

.dialog__content-unread {
    position: absolute;
    right: 0;
    color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    text-align: center;
    height: 20px;
    line-height: 21px;
    min-width: 6px;
    background: #b2b7c2;
	padding: 0 6px;
    margin-top: -17px;
    border-radius: 18px;
}

.dialog__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    border-top: solid 1px #e4e6e9;
}
.dialog__footer-filter {
	color: #939393;
    text-decoration: none;
	padding: 15px;
}
.dialog__footer-settings {
	background: url(../img/msg_cog.png) center no-repeat;
	background-size: 18px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 18px;
	height: 18px;
    display: block;
    padding: 14px;
	margin-left: auto;
	cursor: pointer;
}

.msg-history {
	width: calc( 100% - 320px);
	background: #fff;
    -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.msg-history__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	border-radius: 2px 2px 0 0;
	height: 48px;
    border-bottom: 1px solid #e4e6e9;
}

.msg-history__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px 20px;
    height: 18px;
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 14px;
	max-width: 70%;
    display: flex;
    align-items: center;
}

.msg-history__name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-flex: 1; 
	-ms-flex: 1 1 auto; 
	flex: 1 1 auto; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	max-width: 50%;
	color: #222;
}
.msg-history__name-link {
 	-webkit-box-flex: 1;
 	-ms-flex: 1 1 auto;
 	flex: 1 1 auto; 
    overflow: hidden;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    cursor: pointer;
	text-decoration: none;
}



.msg-history__status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 8px;
    color: #939393;
    font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.status-mob {
	width: 0;
    height: 14px;
    padding-left: 7px;
    margin-left: 7px;
    background: url(../img/mobile.png) no-repeat 0 1px;
    cursor: pointer;
    font-size: 13px;
}



.msg-history__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 153px;
    height: 48px;
	margin-left: auto;
    padding: 0 20px 0 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}

.msg-history__search-btn{
	height: 100%;
	width: 34px;
}
.msg-history__search-btn::before {
	content: "";
	display: block;
    width: 24px;
    height: 24px;
	margin: 0 auto;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M15.4%2016.7c-1%20.8-2.4%201.3-3.9%201.3-3.6%200-6.5-2.9-6.5-6.5s2.9-6.5%206.5-6.5%206.5%202.9%206.5%206.5c0%201.5-.5%202.9-1.3%203.9.2%200%20.3.1.5.3l3.5%203.5c.4.4.4%201%200%201.4-.4.4-1%20.4-1.4%200l-3.5-3.5c-.2-.1-.3-.3-.4-.4zm-3.9-.7c2.5%200%204.5-2%204.5-4.5s-2-4.5-4.5-4.5-4.5%202-4.5%204.5%202%204.5%204.5%204.5z%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat;
    opacity: .7;
}

.msg-history__action-wrap {
	position: relative;
    width: 40px;
    height: 48px;
}

.msg-history__action-icn {
	width: 100%;
	height: 100%;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M5%2014c1.1%200%202-.9%202-2s-.9-2-2-2-2%20.9-2%202%20.9%202%202%202zm7%200c1.1%200%202-.9%202-2s-.9-2-2-2-2%20.9-2%202%20.9%202%202%202zm7%200c1.1%200%202-.9%202-2s-.9-2-2-2-2%20.9-2%202%20.9%202%202%202z%22%2F%3E%3C%2Fsvg%3E') 50% no-repeat;
    opacity: .7;
	cursor: pointer;
}

.msg-history__action-menu {
	visibility: hidden;
	position: absolute;
}

.msg-history__aside-photo {
	height: 100%;
    margin: 0 0 0 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.msg-history__chat-wrap{
	padding: 15px 0;
    max-height: 750px;
    overflow: hidden;
}
.msg-history__chat-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
    padding: 0 45px;
}
.msg-history__photo {
    min-width: 40px;
}
.msg-history__photo-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.msg-history__user-link {
	color: #42648b;
    font-weight: 700;
	max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	text-decoration: none;
}



.msg-history__user{
    position: absolute;
    left: 85px;
    padding-left: 15px;
}
.msg-history__user-time-msg {
	font-weight: 400;
    color: rgba(120, 127, 140, 0.6);
}

.msg-history__msg-stack {
    width: 100%;
    padding-top: 1.25em;
    padding-left: 15px;
}

.msg-history__msg {
	padding: 6px 0;
}

.msg-history__media-img {
	max-width: 100%;
	max-height: 300px;
}

.msg-history__media-wall {
	margin-top: 8px;
	margin-left: 3px;
    border-left: 2px solid #dee6ee;
}

.post__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: 6px;
    margin-top: 4px;
    min-height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post__header-img {
	width: 36px;
	min-width: 36px;
	height: 36px;
	border-radius: 50%;
}

.post__header-info {
    position: absolute;
    left: 35px;
    width: 90%;
	padding-top: 2px;
	margin-left: 15px;
}

.post__author {
    margin: 0;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    padding-right: 20px;
}

.post__link {
	color: #939393;
}

.post__data {
    padding-top: 3px;
}

.post__content {
    padding-left: 0;
    margin-left: 7px;
    padding-bottom: 10px;
}

.post__text {
	line-height: 1.462;
    padding-top: 3px;
    overflow: hidden;
    word-wrap: break-word;
}

.post__img-wrap {
	padding: 10px 0 4px;
}

.msg-history__input {
	padding: 12px 0 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 1px #e4e6e9;
    background: #fafbfc;
    position: relative;
}
