@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
html{
    font-family: Roboto, sans-serif;
    font-size: 13px;
}
a,
a:active,
a:hover{
    color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	max-width: 100%;
	height: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input[type]{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #edeef0;
}

.btn-res{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.container{
	width: 1170px;
    margin: 0 auto;
}

.header {
	background: #507299;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.header__top-logo {
	background: url(../img/ic_head_logo.svg) no-repeat 50% / contain;
    height: 19px;
    width: 34px;
}

.header__top-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 165px;
	height: 45px;
}



.header__nav {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__nav-search-input {
	width: 230px;
	height: 28px;
	padding: 0;
	border: 0;
    line-height: 16px;
    border-radius: 14px;
    -o-transition: background-color 0.05s, color 0.05s;
    -webkit-transition: background-color 0.05s, color 0.05s;
    transition: background-color 0.05s, color 0.05s;
    background: #305075 url(../img/ic_head_loupe.svg) no-repeat;
    padding-left: 19px;
    border-left: 8px solid transparent;
    background-position: left 8px;
    color: #d9e2ec;
}

.header__nav-search-input::-webkit-input-placeholder {color:#d9e2ec;}
.header__nav-search-input::-moz-placeholder          {color:#d9e2ec;}/* Firefox 19+ */
.header__nav-search-input:-moz-placeholder           {color:#d9e2ec;}/* Firefox 18- */
.header__nav-search-input:-ms-input-placeholder      {color:#d9e2ec;}

.header__nav-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}



.header__nav-notice{
	margin-left: 20px;
	width: 46px;
	padding: 11px 0;
	cursor: pointer;
}

.header__nav-notice:hover{
	background-color: #486991;
}

.header__nav-notice-icn {
	background: url(../img/ic_head_notify.svg) 50% / contain no-repeat;
	margin: 0 auto;
    height: 20px;
    width: 20px;
}



.header__nav-item:last-child {
	position: relative;
	margin-left: auto;
}

.header__nav-profile-link {
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	text-decoration: none;
}
.header__nav-profile-link:hover{
	background-color: #486991;
	text-decoration: none;
}
.header__nav-profile-link:active {
	background-color: #486991;
}
.header__nav-profile-link:active header__nav-profile-arrow{
	background-color: #486991;
	color: rgba(255,255,255,1);
}

.header__nav-profile-name {
	padding: 0 10px;
	font-weight: 700;
	color: #fff;
}

.header__nav-profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.header__nav-profile-arrow {
	border: 5px solid transparent;
	border-top-color: rgba(255,255,255,0.45);
    margin: 5px 8px 0;
}

.header__nav-menu {
    position: absolute;
    top: 100%;
    right: -12px;
	margin-top: 4px;
    width: 160px;
	background: #fff;
	padding: 4px 0;
    border: 1px solid #c5d0db;
	border-radius: 4px;
    -webkit-box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.25);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in, visibility 0.35s;
	transition: opacity 0.3s ease-in, visibility 0.35s;
	
}
.header__nav-profile-link:focus ~ .header__nav-menu{
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in, visibility 0.35s;
	transition: opacity 0.3s ease-in, visibility 0.35s;
}

.header__nav-menu-link {
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #2a5885;
	text-decoration: none;
}
.header__nav-menu-link:hover{
    background-color: #e4eaf0;
}

.header__nav-menu-sep {
	margin: 4px 13px;
    border-top: 1px solid #dbe4ec;
}



.page-layout {
	overflow: hidden;
}

.sidebar {
	position: fixed;
	width: 150px;
	top: 0;
    color: #285473;
}

.sidebar__nav-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

.sidebar__nav-icn {
	display: block;
    width: 35px;
    height: 25px;
    opacity: 0.75;
	background: url(../img/menu_icon.png) no-repeat 7px -441px;
}
.sidebar__nav-item.sidebar-profile .sidebar__nav-icn{
    background-position: 7px 6px;
}

.sidebar__nav-item.sidebar-news .sidebar__nav-icn{
    background-position: 7px -917px;
}
.sidebar__nav-item.sidebar-message .sidebar__nav-icn{
    background-position: 7px -21px;
}

.sidebar__inner {
	margin-top: 46px;
	padding: 15px 0;
}

.sidebar__nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
    padding: 2px 0;
}
.sidebar__nav-link:hover{
    background: #e1e5eb;
}
.sidebar__nav-link:hover .sidebar__nav-icn{
	opacity: 1;
}

.sidebar__nav-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 46px;
	padding-left: 155px;
	padding-top: 15px;
}

.dialog__header{
	border-bottom: 1px solid #e7e8ec;
}
.dialog__header-search{
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.dialog__header-search-input {
    border-left-width: 15px;
	border-color: transparent;
    padding: 15px 10px 15px 26px;
    height: 48px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	background: url(../img/ic_head_loupe.svg) no-repeat 0;
}
.dialog__header-search-input:focus{
	outline: none;
}

.dialog {
	background: #fff;
    width: 320px;
    -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.dialog__header-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.dialog__header-important {
    color: #929eb0;
    padding: 18px 6px 15px 19px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
    position: relative;
    z-index: 10;
    cursor: pointer;
	background: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"14"%20height%3D"15"%20viewBox%3D"0%200%2014%2015"><path%20fill%3D"%2391A8C4"%20d%3D"M6.2%201.3c.6-1.8.8-1.5%201.3%200%20.5%201.6%201.3%203.7%201.3%203.7h3.1s2.6-.2.8%201.2c-1.9%201.4-2.9%202.2-2.9%202.2s.5%202%201.1%203.9c.6%201.9%201%202.4-.8.9l-3.3-2.5s-.8.8-2.7%202.2-2.2%201.8-1.3-.7c.8-2.5%201-3.8%201-3.8s-1-.9-2.9-2.2-.6-1.2.8-1.2h3.1s.7-2%201.4-3.7z"%2F><%2Fsvg>') 0 no-repeat;
}

.dialog__header-sel {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
    width: 14px;
    height: 14px;
    padding: 18px 15px 16px 10px;
    color: #929eb0;
}

.dialog__header-sel-btn {
	width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%2391A8C4%22%20d%3D%22M8%206v-6h-2v6h-6v2h6v6h2v-6h6v-2h-6z%22%2F%3E%3C%2Fsvg%3E') top no-repeat;
    display: block;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border: none;
}


.dialog__body{
/*    max-height: 800px;*/
    height: calc(100vh - 160px);
    overflow: hidden;
}
.custom-scroll_bar-y{
    background: #929eb0;
    border-radius: 3px;
	right: 3px;
    width: 6px;
}
.dialog__body-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

.dialog__body-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px 0;
    display: block;
    width: 100%;
    cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.dialog__body-item.selected-dialog {
    background: #7293b6;
	color: #fff;
}

.dialog__photo {
    padding: 9px 7px 8px 0;
}

.dialog__photo-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.dialog__content{
    width: calc(100% - 53px);
    padding: 8px 0;
    position: relative;
}
.dialog__content-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 4px 0 6px;
}
.dialog__content-name {
	font-weight: 700;
    max-width: 60%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-right: 7px;
}

.dialog__content-time {
	position: absolute;
    top: 14px;
    right: 0;
    opacity: 0.7;
    color: #777e8c;
}
.dialog__body-item.selected-dialog .dialog__content-time {
    color: #fff;
}

.dialog__content-who {
	color: #8b939b;
	padding-right: 4px;
}
.dialog__body-item.selected-dialog .dialog__content-who {
	color: #fff;
}

.dialog__content-preview-text {
    color: #656565;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
	margin: 0;
}
.dialog__body-item.selected-dialog .dialog__content-preview-text {
    color: #fff;
}

.dialog__content-last-msg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 75%;
}

.dialog__content-unread {
    position: absolute;
    right: 0;
    color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    text-align: center;
    height: 20px;
    line-height: 21px;
    min-width: 6px;
    background: #b2b7c2;
	padding: 0 6px;
    margin-top: -17px;
    border-radius: 18px;
}

.dialog__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    border-top: solid 1px #e4e6e9;
}
.dialog__footer-filter {
	color: #939393;
    text-decoration: none;
	padding: 15px;
}
.dialog__footer-settings {
	background: url(../img/msg_cog.png) center no-repeat;
	background-size: 18px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 18px;
	height: 18px;
    display: block;
    padding: 14px;
	margin-left: auto;
	cursor: pointer;
}

.msg-history {
	width: calc( 100% - 320px);
	background: #fff;
    -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.msg-history__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	border-radius: 2px 2px 0 0;
	height: 48px;
    border-bottom: 1px solid #e4e6e9;
}

.msg-history__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px 20px;
    height: 18px;
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 14px;
	max-width: 70%;
    display: flex;
    align-items: center;
}

.msg-history__name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-flex: 1; 
	-ms-flex: 1 1 auto; 
	flex: 1 1 auto; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	max-width: 50%;
	color: #222;
}
.msg-history__name-link {
 	-webkit-box-flex: 1;
 	-ms-flex: 1 1 auto;
 	flex: 1 1 auto; 
    overflow: hidden;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    cursor: pointer;
	text-decoration: none;
}



.msg-history__status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 8px;
    color: #939393;
    font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.status-mob {
	width: 0;
    height: 14px;
    padding-left: 7px;
    margin-left: 7px;
    background: url(../img/mobile.png) no-repeat 0 1px;
    cursor: pointer;
    font-size: 13px;
}



.msg-history__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 153px;
    height: 48px;
	margin-left: auto;
    padding: 0 20px 0 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}

.msg-history__search-btn{
	height: 100%;
	width: 34px;
}
.msg-history__search-btn::before {
	content: "";
	display: block;
    width: 24px;
    height: 24px;
	margin: 0 auto;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M15.4%2016.7c-1%20.8-2.4%201.3-3.9%201.3-3.6%200-6.5-2.9-6.5-6.5s2.9-6.5%206.5-6.5%206.5%202.9%206.5%206.5c0%201.5-.5%202.9-1.3%203.9.2%200%20.3.1.5.3l3.5%203.5c.4.4.4%201%200%201.4-.4.4-1%20.4-1.4%200l-3.5-3.5c-.2-.1-.3-.3-.4-.4zm-3.9-.7c2.5%200%204.5-2%204.5-4.5s-2-4.5-4.5-4.5-4.5%202-4.5%204.5%202%204.5%204.5%204.5z%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat;
    opacity: .7;
}

.msg-history__action-wrap {
	position: relative;
    width: 40px;
    height: 48px;
}

.msg-history__action-icn {
	width: 100%;
	height: 100%;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M5%2014c1.1%200%202-.9%202-2s-.9-2-2-2-2%20.9-2%202%20.9%202%202%202zm7%200c1.1%200%202-.9%202-2s-.9-2-2-2-2%20.9-2%202%20.9%202%202%202zm7%200c1.1%200%202-.9%202-2s-.9-2-2-2-2%20.9-2%202%20.9%202%202%202z%22%2F%3E%3C%2Fsvg%3E') 50% no-repeat;
    opacity: .7;
	cursor: pointer;
}

.msg-history__action-menu {
	visibility: hidden;
	position: absolute;
}

.msg-history__aside-photo {
	height: 100%;
    margin: 0 0 0 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.msg-history__chat-wrap{
	padding: 15px 0;
/*    max-height: 785px;*/
/*    height: 785px;*/
	height: calc(100vh - 176px);
    overflow: hidden;
}
.msg-history__chat-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
    padding: 0 45px;
}
.msg-history__photo {
    min-width: 40px;
}
.msg-history__photo-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.msg-history__user-link {
	color: #42648b;
    font-weight: 700;
	max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	text-decoration: none;
}



.msg-history__user{
    position: absolute;
    left: 85px;
    padding-left: 15px;
}
.msg-history__user-time-msg {
	font-weight: 400;
    color: rgba(120, 127, 140, 0.6);
}

.msg-history__msg-stack {
    width: 100%;
    padding-top: 1.25em;
    padding-left: 15px;
}

.msg-history__msg {
	padding: 6px 0;
}

.msg-history__media-img {
	max-width: 100%;
	max-height: 300px;
}

.msg-history__media-wall {
	margin-top: 8px;
	margin-left: 3px;
    border-left: 2px solid #dee6ee;
}

.post__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: 6px;
    margin-top: 4px;
    min-height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post__header-img {
	width: 36px;
	min-width: 36px;
	height: 36px;
	border-radius: 50%;
}

.post__header-info {
    position: absolute;
    left: 35px;
    width: 90%;
	padding-top: 2px;
	margin-left: 15px;
}

.post__author {
    margin: 0;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    padding-right: 20px;
}

.post__link {
	color: #939393;
}

.post__data {
    padding-top: 3px;
}

.post__content {
    padding-left: 0;
    margin-left: 7px;
    padding-bottom: 10px;
}

.post__text {
	line-height: 1.462;
    padding-top: 3px;
    overflow: hidden;
    word-wrap: break-word;
}

.post__img-wrap {
	padding: 10px 0 4px;
}

.msg-history__field-wrap {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 1px #e4e6e9;
    background: #fafbfc;
    position: relative;
}

.msg-history__media-selector-label {
	display: block;
	height: 22px;
	padding: 20px 16px 20px 10px;
    line-height: 22px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
    opacity: 0.7;
}

.icn-clip {
	background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%2224%22%20height%3D%2224%22%2F%3E%0A%20%20%20%20%3Cpath%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.8%22%20d%3D%22M20.0291094%2C15.0279907%20L14.6443834%2C20.2583795%20L14.6443834%2C20.2583795%20C12.0566785%2C22.7719155%207.93029511%2C22.7421861%205.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20C2.76745218%2C17.5806772%202.76690514%2C13.3469463%205.37785362%2C10.735323%20C5.38546336%2C10.7277113%205.39309146%2C10.720118%205.40073787%2C10.7125431%20L13.4673115%2C2.72143747%20L13.4673115%2C2.72143747%20C15.2274317%2C0.977784268%2018.0678013%2C0.991133451%2019.8114545%2C2.7512537%20C19.8205797%2C2.76046506%2019.8296649%2C2.76971594%2019.8387099%2C2.77900608%20L19.8387099%2C2.77900608%20L19.8387099%2C2.77900608%20C21.5887922%2C4.57652514%2021.569373%2C7.4467765%2019.7951292%2C9.22045114%20L11.6642625%2C17.3487092%20L11.6642625%2C17.3487092%20C10.8163456%2C18.196354%209.46403082%2C18.26344%208.53638318%2C17.5038779%20L8.40267048%2C17.3943933%20L8.40267048%2C17.3943933%20C7.50791768%2C16.6617656%207.37648933%2C15.342513%208.10911705%2C14.4477602%20C8.14767542%2C14.4006692%208.18826865%2C14.3552816%208.23078109%2C14.311727%20L13.6981137%2C8.71035836%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E') 0 0 no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    padding: 0;
}

.msg-history__input-wrap{
	width: 100%;
	position: relative;
	margin-top: 12px;
}
.msg-history__input {
	min-height: 36px;
    width: 100%;
    max-height: 200px;
	margin-bottom: 12px;
    line-height: 17px;
    padding: 9px 74px 10px 13px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #d3d9de;
	outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

.msg-history__btn-send {
    display: block;
	width: 52px;
    height: 55px;
	position: relative;
    padding: 31px 28px;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.7;
	outline: none;
}
.msg-history__btn-send:after{
	content: "";
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%2224%22%20height%3D%2224%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M4.73867831%2C15.7541491%20C4.05303459%2C17.6089863%203.62217789%2C18.9122158%203.44610819%2C19.6638378%20C2.89276731%2C22.0259885%202.49042136%2C22.558052%204.55278984%2C21.4354509%20C6.61515833%2C20.3128499%2016.5993761%2C14.7518703%2018.8269273%2C13.5160071%20C21.7306352%2C11.9050068%2021.7694377%2C12.0308707%2018.6711438%2C10.3203699%20C16.3113869%2C9.01759941%206.44420418%2C3.60166194%204.55278988%2C2.53824504%20C2.66137558%2C1.47482814%202.89276736%2C1.9477073%203.4461082%2C4.30985812%20C3.62445956%2C5.07122038%204.06157218%2C6.38608773%204.75744604%2C8.25446018%20L4.75744944%2C8.25445891%20C5.2441466%2C9.56120661%206.3762377%2C10.5201809%207.74523206%2C10.7853565%20L13.5097097%2C11.9019419%20C13.5638656%2C11.9127731%2013.5989873%2C11.9654556%2013.5881561%2C12.0196116%20C13.5802389%2C12.0591977%2013.5492958%2C12.0901408%2013.5097097%2C12.0980581%20L7.73223712%2C13.2135737%20L7.7322368%2C13.2135721%20C6.35880507%2C13.4787546%205.22367175%2C14.442121%204.73867831%2C15.7541491%20Z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") 50% no-repeat;
    background-size: 24px 24px;
    opacity: .7;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}
.msg-history__btn-send:hover::after{
	opacity: 1;
}

.emoji-smile-wrap {
	position: absolute;
	top: 0;
	right: 0;
}

.emoji-btn {
	padding: 6px 14px 6px 3px;
	cursor: pointer;
	opacity: .6;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}
.emoji-btn:hover {
	opacity: 1;
}

.emoji-icn {
	width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20opacity%3D%22.4%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20fill%3D%22%23828A99%22%20fill-rule%3D%22nonzero%22%20d%3D%22M2%2012C2%206.477%206.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010S2%2017.523%202%2012zm18.3%200a8.3%208.3%200%201%200-16.6%200%208.3%208.3%200%200%200%2016.6%200zm-11.05-.5a1.25%201.25%200%201%201%200-2.5%201.25%201.25%200%200%201%200%202.5zm5.5%200a1.25%201.25%200%201%201%200-2.5%201.25%201.25%200%200%201%200%202.5z%22%2F%3E%3Cpath%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.7%22%20d%3D%22M9%2014.85c.833.767%201.833%201.15%203%201.15s2.167-.383%203-1.15%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.attach-wrap {
	position: absolute;
    z-index: 2;
    right: 41px;
    top: 0;
}

.icn-photo {
    display: block;
    width: 24px;
    height: 24px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
    padding: 6px 7px 6px 5px;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20opacity%3D%22.4%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.7%22%20d%3D%22M14.134%203.65c.853%200%201.46.278%201.988.899.017.019.494.61.66.815.228.281.674.536.945.536h.41C20.556%205.9%2022%207.463%2022%209.95v5.85c0%202.241-2%204.2-4.273%204.2H6.273c-2.267%200-4.223-1.953-4.223-4.2V9.95c0-2.496%201.4-4.05%203.814-4.05h.409c.271%200%20.717-.255.945-.536.166-.204.643-.796.66-.815.528-.621%201.135-.899%201.988-.899h4.268z%22%2F%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223.85%22%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.7%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") 50% no-repeat;
    opacity: 0.7;
    cursor: pointer;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}
.icn-photo:hover {
	opacity: 1;
}